.Summary {
    list-style: none;
    padding-inline-start: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: 100;
    font-size: 12px;
}

.Summary li {
    display: inline;
    padding: 0 10px;
}