.Item {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.enabledInput {
    color: #505050;
}

.disabledInput {
    color: #808080;
    border: none;
}

.done {
    text-decoration: line-through;
}