.ToDo {
    height: 100%;
    padding: 20px;
    margin: 0 auto;
}

.Items {
    overflow-y: scroll;
    height: 60%;
    padding: 15px;
    margin: 0 auto;
}

h1 {
    font-weight: lighter;
}

@media (min-width: 600px) {
    .ToDo {
        width: 70%;
    }
}